resources/schema/newsjobs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NewestJobs" type="NewestJobsType"/>
  <xs:complexType name="NewestJobsType">
    <xs:sequence>
      <xs:element type="ExternalAdType" name="ExternalAd"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="imageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="source"/>
        <xs:attribute type="xs:string" name="alt"/>
        <xs:attribute type="xs:integer" name="width"/>
        <xs:attribute type="xs:integer" name="height"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ExternalAdType">
    <xs:sequence>
      <xs:element type="imageType" name="image" minOccurs="1" maxOccurs="1"/>
      <xs:element type="linkType" name="link" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="headline" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linkType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="source"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
